* {
    box-sizing: border-box;
}
#manage {
    background-color: #dee2e6;
    overflow-y: scroll;
    height: 78vh;
}
#main-container {
    min-height: 92.5vh;
}
@media (min-width: 768px) {
    #main-container-row {
        min-height: 100vh;
    }
    body {
        overflow: hidden;
    }
}